@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-50: #0c0d0e;
    --text-100: #171a1c;
    --text-200: #2e3338;
    --text-300: #464c53;
    --text-400: #5d666f;
    --text-500: #747f8b;
    --text-600: #9099a2;
    --text-700: #acb3b9;
    --text-800: #c7ccd1;
    --text-900: #e3e6e8;
    --text-950: #f1f2f3;
    
    --background-50: #0a0e0f;
    --background-100: #141b1f;
    --background-200: #29363d;
    --background-300: #3d525c;
    --background-400: #526d7a;
    --background-500: #668899;
    --background-600: #85a0ad;
    --background-700: #a3b8c2;
    --background-800: #c2cfd6;
    --background-900: #e0e7eb;
    --background-950: #f0f3f5;
    
    --primary-50: #080e12;
    --primary-100: #101b23;
    --primary-200: #203746;
    --primary-300: #2f526a;
    --primary-400: #3f6e8d;
    --primary-500: #4f89b0;
    --primary-600: #72a1c0;
    --primary-700: #95b8d0;
    --primary-800: #b9d0df;
    --primary-900: #dce7ef;
    --primary-950: #edf3f7;
    
    --secondary-50: #060e14;
    --secondary-100: #0c1c27;
    --secondary-200: #17394f;
    --secondary-300: #235576;
    --secondary-400: #2f719d;
    --secondary-500: #3b8dc4;
    --secondary-600: #62a4d0;
    --secondary-700: #89bbdc;
    --secondary-800: #b0d2e8;
    --secondary-900: #d8e8f3;
    --secondary-950: #ebf4f9;
    
    --accent-50: #040f16;
    --accent-100: #081d2b;
    --accent-200: #0f3a57;
    --accent-300: #175782;
    --accent-400: #1f74ad;
    --accent-500: #2691d9;
    --accent-600: #52a7e0;
    --accent-700: #7dbde8;
    --accent-800: #a8d3f0;
    --accent-900: #d4e9f7;
    --accent-950: #e9f4fb;
  }
  .dark {
    --text-50: #f1f2f3;
    --text-100: #e3e6e8;
    --text-200: #c7ccd1;
    --text-300: #acb3b9;
    --text-400: #9099a2;
    --text-500: #747f8b;
    --text-600: #5d666f;
    --text-700: #464c53;
    --text-800: #2e3338;
    --text-900: #171a1c;
    --text-950: #0c0d0e;
    
    --background-50: #f0f3f5;
    --background-100: #e0e7eb;
    --background-200: #c2cfd6;
    --background-300: #a3b8c2;
    --background-400: #85a0ad;
    --background-500: #668899;
    --background-600: #526d7a;
    --background-700: #3d525c;
    --background-800: #29363d;
    --background-900: #141b1f;
    --background-950: #0a0e0f;
    
    --primary-50: #edf3f7;
    --primary-100: #dce7ef;
    --primary-200: #b9d0df;
    --primary-300: #95b8d0;
    --primary-400: #72a1c0;
    --primary-500: #4f89b0;
    --primary-600: #3f6e8d;
    --primary-700: #2f526a;
    --primary-800: #203746;
    --primary-900: #101b23;
    --primary-950: #080e12;
    
    --secondary-50: #ebf4f9;
    --secondary-100: #d8e8f3;
    --secondary-200: #b0d2e8;
    --secondary-300: #89bbdc;
    --secondary-400: #62a4d0;
    --secondary-500: #3b8dc4;
    --secondary-600: #2f719d;
    --secondary-700: #235576;
    --secondary-800: #17394f;
    --secondary-900: #0c1c27;
    --secondary-950: #060e14;
    
    --accent-50: #e9f4fb;
    --accent-100: #d4e9f7;
    --accent-200: #a8d3f0;
    --accent-300: #7dbde8;
    --accent-400: #52a7e0;
    --accent-500: #2691d9;
    --accent-600: #1f74ad;
    --accent-700: #175782;
    --accent-800: #0f3a57;
    --accent-900: #081d2b;
    --accent-950: #040f16;
  }
}

.loader {
  border-top-color: #3498db;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

